<!doctype html>
<html>
    <head>
        <title>Graph | Code Art JS</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/code-art-graph.css" rel="stylesheet" type="text/css"/>
        <link href="css/wordcloud.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container">
                <div class="jumbotron">
                    <h2>Graph | Code Art JS</h2>
                    <button id="get-nodes" type="button" class="btn">Create graph </button>
                </div>
              <div id="mynetwork" style="text-align: center"></div>
              <div class="jumbotron">
                <h2>WordCloud | Code Art JS</h2>
                  <button id="get-wordcloud" type="button" class="btn">Create wordcloud </button>
              </div>
              <div id="my_canvas" style="text-align: center"></div>
        </div>
    </body>
    <script src="http://visjs.org/dist/vis.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/code-art-graph.js"></script>
    <script src="js/wordcloud2.js"></script>
</html>
