<!doctype html>
<html>
    <head>
        <title>Graph and Wordcloud | Code Art JS</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/code-art-graph.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container">
              <div class="jumbotron">
                    <h2>Graph | Code Art JS</h2>
                    <button id="get-nodes" type="button" class="btn">Create graph</button>
                    <button id="save-nodes" type="button" class="btn">Download graph</button>
              </div>
              <div id="mynetwork" style="text-align: center"></div>
              <canvas id="canvasGraph"><img id="networkImg" style="display: none;"></canvas>
              <div class="jumbotron">
                <h2>WordCloud | Code Art JS</h2>
                  <button id="get-wordcloud" type="button" class="btn">Create wordcloud</button>
                  <button id="save-wordcloud" type="button" class="btn">Download wordcloud</button>
              </div>
              <div id="my_wordcloud" style="text-align: center"></div>
              <canvas id="canvasWordcloud"><img id="wordcloudImg" style="display: none;"></canvas>
        </div>
    </body>
    <script src="http://visjs.org/dist/vis.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/code-art-graph.js"></script>
    <!-- <script src="js/wordcloud2.js"></script> -->
    <!-- <script src="js/index.js"></script> -->
    <script src="js/js2wordcloud.min.js"></script>
    <!-- <script src="js/js2wc-art.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
</html>
