<!doctype html>
<html>
<head>
    <title>Graph | Code Art JS</title>
    <style>
        body {
            color: #d3d3d3;
            font: 12pt arial;
            background-color: #ffffff;
        }
        #mynetwork {
            width: 800px;
            height: 800px;
            border: 1px solid #444444;
            background-color: #dddddd;
        }
    </style>
    <script src="http://visjs.org/dist/vis.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<button id="get-nodes">Get graph</button>
<div id="mynetwork"></div>
<script type="text/javascript">
$("#get-nodes").on("click", function(){
    $.get('/getNodes', function(resultado){
       //var nodes = [];
       //var edges = [];
       var nodes = resultado.nodes;
       var edges = resultado.edges;
       console.log("nodos: " + nodes);
       console.log("edges: " + edges);
        var len = undefined;
        // create a network
        var container = document.getElementById('mynetwork');
        var data = {
           nodes: nodes,
           edges: edges
        };
        var options = {
          nodes: {
            shape: 'dot',
            size: 30,
            font: {
                size: 32
            },
            borderWidth: 2,
            shadow:true
          },
          edges: {
            width: 2,
            shadow: true,
            arrows: 'to'
          }
        };
        network = new vis.Network(container, data, options);
   });
});
</script>
</body>
</html>
</html>
